{% extends "base.html" %}

{% block title %}
Add Customer
{% endblock %}

{% block content %}

<h1 class="mb-4">
    Add Customer
</h1>

<div class="card shadow-sm">

    <div class="card-body">

        <form method="POST">

            <div class="mb-3">

                <label class="form-label">
                    Customer Name
                </label>

<input
    class="form-control"
    type="text"
    name="name"
    placeholder="Enter customer name"
    required
>
            </div>

            <div class="mb-3">

                <label class="form-label">
                    Account Number
                </label>

               <input
    class="form-control"
    type="text"
    name="account"
    placeholder="Enter account number"
    required
>

            </div>

            <button class="btn btn-primary">

                Save Customer

            </button>

        </form>

    </div>

</div>

{% endblock %}